h1{ 
    color: orange;font-weight: bolder; font-family: 'Monda', sans-serif;
}

p{
    font-family: 'Monda', sans-serif; ;
}
h2{ 
    color: black;font-weight: bolder; font-family: 'Monda', sans-serif;
}

h3{
    border-style: solid;
    border-width: 5px;
    background-color: lightgreen;
    opacity: 0.6;
    font-family: 'Monda', sans-serif;
}

img{
    border-style:solid ;
    border-width:5px ;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
